body { margin:0; padding:0; }
body, html { width: 100%; }

path {
  -webkit-transition: fill-opacity 200ms, fill 200ms;
  transition: fill-opacity 200ms, fill 200ms;
}

#map { position:absolute; top:0; bottom:0; width:100%; }

.range-container {
  position: absolute;
  top: 11px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  text-align: center;
}
#rangeBox {
  border-radius: 3px;
  padding: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#range {
  width: 93%;
}

.ticks {
  margin: -4px 0 0 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.ticks li {
  display: table-cell;
}

.map-legend dl {
  overflow: hidden;  
}

.map-legend small {
  line-height: 12px;
  display: block;
}

.map-legend dd,
.map-legend dt {
  float: left;
}

.map-legend dt {
  width: 16px;
  height: 16px;
  opacity: 0.5;
  clear: left;
  border: 1px solid #666;
}

.map-legend dd {
  margin-left: 2em;
}

.harvest {
  background-color: purple;
}
.process {
  background-color: red;
}
.arrive {
  background-color: teal;
}
.roast {
  background-color: yellow;
}
.roastharvest {
  background-color: pink;
}
